{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text"></div>

                <div class="ah-search">
                    <form method="get" action="{% url 'staffs:holidays' %}">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
    
                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>

                <ul class="ah-actions actions a-alt">
                    <li>
                        <a title="Search" data-ma-action="ah-search-open" class="ah-search-trigger" href="">
                            <i class="zmdi zmdi-search"></i>
                        </a>
                    </li>
                    {% if instance %}
                        {% if is_superuser or 'can_create_holiday' in user_instance.permissionlist %}
                        <li>
                            <a title="Create holiday" href="{% url 'tasks:create_holiday' %}">
                                <i class="zmdi zmdi-plus"></i>
                            </a>
                        </li>
                        {% endif %}  
                        
                        {% if is_superuser or 'can_delete_holiday"' in user_instance.permissionlist %}
                        <li>
                            <a title="Delete holiday" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'tasks:delete_holiday' pk=instance.pk %}" class="action-button redirect">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li> 
                        {% endif %}  
                    {% endif %}                               
                </ul>
            </div>
            
            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                {% csrf_token %}
                <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2> HOLIDAY <small></small></h2>
                    </div>
                    <div class="card-body card-padding">
                        
                        <div class="form-group fg-line">
                            <label for="{{ form.holiday_category.id_for_label }}">
                                {{ form.holiday_category.label }}
                                {% if form.holiday_category.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if form.holiday_category.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.holiday_category.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                {% endif %}
                            </label>
                            {{ form.holiday_category }}
                            
                            {% if form.holiday_category.errors %}
                                <label class="error">{{ form.holiday_category.errors.as_text }}</label>
                            {% endif %}
                        </div>

                        
                        <div class="form-group fg-line">
                            <label for="{{ form.date.id_for_label }}">
                                {{ form.date.label }}
                                {% if form.date.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if form.date.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.date.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                {% endif %}
                            </label>
                            {% if is_create_page %}
                                <input id="{{ form.date.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.date.html_name}}" placeholder="Enter date" value="{% now "d/m/Y" %}">
                            {% else %}
                                <input id="{{ form.date.id_for_label }}" type="text" class="required form-control date-picker"  name="{{form.date.html_name}}" placeholder="Enter date" value="{{ form.date.value|date:'m/d/Y' }}">
                            {% endif %}
                            
                            {% if form.date.errors %}
                                <label class="error">{{ form.date.errors.as_text }}</label>
                            {% endif %}
                        </div>

                        <div class="form-group fg-line">
                            <label for="{{ form.note.id_for_label }}">
                                {{ form.note.label }}
                                {% if form.note.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if form.note.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.note.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                {% endif %}
                            </label>
                            {{ form.note }}
                            
                            {% if form.note.errors %}
                                <label class="error">{{ form.note.errors.as_text }}</label>
                            {% endif %}
                        </div>


                    </div> 
                </div>
                </div>

                <br class="clear">
                 <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div> 
            </form>  
            
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}