{% extends "base.html" %}
{% load i18n %}
{% load tz %}

{% block content %}
    <section id="content">
        <div class="container">
           <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
                    <form method="get" action="">
                        <input name="q" type="text" placeholder="Start typing..." class="ahs-input">

                        <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
                        <input type="submit" class="hidden" />
                    </form>
                </div>
                <ul class="ah-actions actions a-alt">                    
                    {% if is_superuser or 'can_create_product' in user_instance.permissionlist %}
                    <li>
                        {% if distributor %}
                        <a title="{% trans 'Create Product' %}" href="{% url 'products:distributor_product_stocks' %}?distributor={{distributor}}">
                            <i class="zmdi zmdi-print"></i>
                        </a>
                        {% else %}
                        <a title="{% trans 'Create Product' %}" href="{% url 'products:product_stocks' %}?print=True">
                            <i class="zmdi zmdi-print"></i>
                        </a>
                        {% endif %}
                    </li>
                    {% endif %}
                </ul>
            </div>
            <form class="ajax reset {% if redirect %}redirect{% endif %} skip_empty_row" method="post" action="{{url}}">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h2 class=item_head >Items <small></small></h2>
                    </div>
                    <div class="table-responsive card-body card-padding add_item_container inventory_adjustment_formset">
                        <table id="data-table-basic" class="table table-striped table-vmiddle">
                            <thead>
                                <tr>
                                    <th data-column-id="product">Product</th>
                                    <th data-column-id="qty">Qty</th>
                                    <th data-column-id="cost">New Qty</th>
                                    <th class="one"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in inventory_adjustment_formset.forms %}
                                <tr class="form_set_row">                                                           
                                    <td>
                                        {{ form.id }}
                                        <span class="inventry p-relative">
                                            {{ form.product }}
                                        </span>
                                    </td>  
                                    <td>
                                        <span class="inventry_qty p-relative">
                                            {{ form.qty }}
                                        </span>
                                    </td>                                 
                                    <td>
                                        <span class="inventry_new_qty check_empty p-relative">
                                            {{ form.new_qty }}
                                        </span>
                                    </td>                                

                                    
                                    <td class="one">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ inventory_adjustment_formset.management_form }}
                    </div>
                </div>

                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div>
            </form>
         </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/DateTimePicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/DateTimePicker.css' %}">

    <script>

        $('.inventory_adjustment_formset table tr.form_set_row').formset({
            prefix: '{{ inventory_adjustment_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            'added' : function (row) {
                row.find('.inventory_unit select').selectpicker();
                row.find('.inventory_warehouse select').selectpicker();

            }
        });
        $(document).on('change','tr.form_set_row .inventry select',function(){
            $selector = $(this);
            CheckRepeat($selector,false)
            getProductInfo($selector,false);
        });

       $(document).on('keypress','tr.form_set_row .inventry_barcode input',function(event){
            if (event.which == '10' || event.which == '13') {
                event.preventDefault();
                $selector = $(this);
                CheckRepeat($selector,true)
                getProductInfo($selector,true);
            }
       });
        function CheckRepeat($selector,barcode){
            var parent  = $selector.closest('tr')
            $('.inventory_adjustment_formset table tr.form_set_row').not(parent).each(function(){
                $this = $(this);
                if(barcode){
                    var item = $this.find('.inventry_barcode input').val(); 
                }
                else{
                    var item = $this.find('.inventry select').val(); 
                }             
                if (item == $selector.val()) {
                    var title = "Duplicate entry";
                    var message = "This product already exist"; 
                    swal(title, message, "error");
                    $this.find('.icon-trash').click();
                }

            });
        }
        function getProductInfo($selector,barcode){
            var url = "{% url 'products:get_product' %}";
            var id = $selector.val();
            var $parent = $selector.parents('tr.form_set_row');
            if(id != '' && id != null){
                var code = "no";
                if(barcode){
                    code = "yes";
                }
                $.ajax({
                    type : "GET",
                    url : url,
                    dataType : 'json',
                    data : {
                        id : id,
                        barcode : code,
                    },
                    success : function(data) {
                        var status = data['status'];
                        var pk = data['pk'];
                        var stock = data['stock']; 
                        var name = data['name'];
                        var code = data['code'];
                        if (status == "true"){                                
                            $parent.find('.inventry_qty input').val(stock);                             
                          
                            if(barcode){
                                $parent.find('.inventry select.select2-hidden-accessible').html('<option value=' + pk + '>' + code +  '-' + name + '</option>');
                                var title = {{code}} + " - " {{name}}
                                $parent.find('.inventry .select2.select2-container').addClass();
                                $parent.find('.inventry select2 .select2-selection__rendered').attr('title',title);

                            }else{
                                $parent.find('.inventry_barcode input').val(code);
                            }  
                            $('.add_item_container.inventory_adjustment_formset .icon_add_item').click();   
                        }                                          
                    },
                    error : function(data){ 
                        var title = "An error occurred";
                        var message = "An error occurred. Please try again later."; 
                        swal(title, message, "error");
                    }
                });                 
            }
        }

    </script>

    <style>
        .select2-dropdown {
          z-index: 999999;
        }
    </style>

    {{inventory_adjustment_formset.media}}
{% endblock %}