{% extends "base.html" %}
{% load i18n %}


{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
			<div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{title}}</div>

                <div class="ah-search">
	            	<form method="get" action="">
	                    <input name="q" type="text" placeholder="Start typing..." class="ahs-input">
	
	                    <i class="ah-search-close zmdi zmdi-long-arrow-left" data-ma-action="ah-search-close"></i>
	                    <input type="submit" class="hidden" />
	                </form>
	            </div>

                
            </div>
            
            <form class="ajax reset {% if redirect %}redirect{% endif %}" method="post" action="{{url}}">
                {% csrf_token %}
                <div id="c-grid" class="clearfix" data-columns="2">
				<div class="card">
					<div class="card-header">
				        <h2>Basic Info<small></small></h2>
				    </div>
					<div class="card-body card-padding">
					    <div class="form-group fg-line">
                            <label for="{{ form.title.id_for_label }}">
                            	{{ form.title.label }}
                            	{% if form.title.field.required %}
					        		<small class="star">*</small>
					        	{% endif %}
					        	
					        	{% if form.title.help_text %}
					        		<span data-original-title="Field Info" title="" data-content="{{ form.title.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                {% endif %}
                            </label>
                            {{ form.title }}
                            
                            {% if form.title.errors %}
                            	<label class="error">{{ form.title.errors.as_text }}</label>
                            {% endif %}
                        </div>

                         <div class="form-group fg-line">
                            <label for="{{ form.description.id_for_label }}">
                                {{ form.description.label }}
                                {% if form.description.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if form.description.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.description.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                {% endif %}
                            </label>
                            {{ form.description }}
                            
                            {% if form.description.errors %}
                                <label class="error">{{ form.description.errors.as_text }}</label>
                            {% endif %}
                        </div>

                        <div class="form-group fg-line">
                            <label for="{{ form.time.id_for_label }}">
                            	{{ form.time.label }}
                            	{% if form.time.field.required %}
					        		<small class="star">*</small>
					        	{% endif %}
					        	
					        	{% if form.time.help_text %}
					        		<span data-original-title="Field Info" title="" data-content="{{ form.time.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                {% endif %}
                            </label>
                            {{ form.time }}
                            
                            {% if form.time.errors %}
                            	<label class="error">{{ form.time.errors.as_text }}</label>
                            {% endif %}
                        </div>

                         <div class="form-group fg-line">
                            <label for="{{ form.remind_on.id_for_label }}">
                                {{ form.remind_on.label }}
                                {% if form.remind_on.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if form.remind_on.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.remind_on.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                {% endif %}
                            </label>
                            {{ form.remind_on }}
                            
                            {% if form.remind_on.errors %}
                                <label class="error">{{ form.remind_on.errors.as_text }}</label>
                            {% endif %}
                        </div>
                         <div class="form-group fg-line">
                            <label for="{{ form.attachment.id_for_label }}">
                                {{ form.attachment.label }}
                                {% if form.attachment.field.required %}
                                    <small class="star">*</small>
                                {% endif %}
                                
                                {% if form.attachment.help_text %}
                                    <span data-original-title="Field Info" title="" data-content="{{ form.attachment.help_text }}" data-placement="left" data-toggle="popover" data-trigger="hover" class="help-text-icon zmdi zmdi-info-outline">
                                {% endif %}
                            </label>
                            {{ form.attachment }}
                            
                            {% if form.attachment.errors %}
                                <label class="error">{{ form.attachment.errors.as_text }}</label>
                            {% endif %}
                        </div>
					</div> 
				</div>  
                <br class="clear">
                <div class="m-t-20">
                    <button type="submit" class="btn btn-info waves-effect">Submit</button>
                </div> 
            </form>  
            
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
    <script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}