{% extends "base.html" %}
{% load i18n %}

{% load users_template_tags %}
{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.name}} - {{instance.phone}}</div>

                <ul class="ah-actions actions a-alt">
                    {% if is_superuser or 'can_create_reminder' in user_instance.permissionlist %}
                    <li>
                        <a title="Create Reminder" href="{% url 'tasks:create_reminder' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_modify_reminder' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit Reminder" href="{% url 'tasks:edit_reminder' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_superuser or 'can_delete_reminder' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Reminder" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'tasks:delete_reminder' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                     {% endif %}                               
                </ul>
            </div>

            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Title</div>
                                    <small class="lgi-text">{{instance.title}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Description</div>
                                    <small class="lgi-text">{{instance.description}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Time</div>
                                    <small class="lgi-text">{{instance.time}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Remind_on</div>
                                    <small class="lgi-text">{{instance.remind_on}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h2>Created &amp; Updated <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Added</div>
                                    <small class="lgi-text">{{instance.date_added}}</small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Date Updated</div>
                                    <small class="lgi-text">{{instance.date_updated}}</small>
                                </div>
                            </div>

                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Created User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.creator.username %}">{{instance.creator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                            
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Last Updated User</div>
                                    <small class="lgi-text"><a href="{% url 'users:view' pk=instance.updator.username %}">{{instance.updator.username|get_user_name}}</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div>  
        </div>
    </section>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}