
<div class="row">
    
    <div class="col-md-12">
        <div class="card card-padding">
            <div class="card-header">
                <h2>Vendor Report <small></small></h2>
            </div>

            <div class="card-body card-padding">
                <div class="row m-b-10">

                    <div class="col-sm-6" style="border-right: 1px solid rgba(0,0,0,.15)">
                        <h1 id="id_total_purchase_amount" class="m-b-xs c-bluegray">0.00</h1>
                        <h4 class='c-bluegray'>Purchase Amount</h4>
                        <div id="sparkline1" class="m-b-sm"></div>
                        <div class="row">

                            <div class="col-xs-6 p-l-10 p-r-10" style="border-right: 1px solid rgba(0,0,0,.15)">
                                <small class="stats-label c-brown">Paid</small>
                                <h4 id="id_total_purchase_paid_amount" class ='c-brown'>0.00</h4>
                            </div>
                            <div class="col-xs-6 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Balance</small>
                                <h4 id="id_total_purchase_balance_amount" class ='c-brown'>0.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h1 id="id_total_vendors_count" class="m-b-xs c-bluegray">0.00</h1>
                        <h4 class='c-bluegray'>Vendor Count</h4>
                        <div id="sparkline2" class="m-b-sm"></div>
                        <div class="row">
                            <div class="col-xs-6 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Purchase Count</small>
                                <h4 id="id_total_purchases_count" class ='c-brown'>0.00</h4>
                            </div>
                            <div class="col-xs-6 p-l-10 p-r-10">
                                <small class="stats-label c-brown">Packing Charge</small>
                                <h4 id="id_product_split_packing_charge" class ='c-brown'>0.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        


