<div class="card c-dark palette-Blue bg">
    <div class="card-header p-b-0">
        <h2>For the past 30 days</h2>
    </div>
    <div class="card-body">
        <div class="chart-edge">
            <div class="ns-chart flot-chart" id="number-stats-chart"></div>
        </div>

        <div class="list-group lg-alt lg-even-white">
            <div class="list-group-item media">
                <div class="pull-right hidden-sm">
                    <div class="sparkline-bar-1"></div>
                </div>

                <div class="media-body ns-item">
                    <small>Page Views</small>
                    <h3>47,896,536</h3>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="pull-right hidden-sm">
                    <div class="sparkline-bar-2"></div>
                </div>

                <div class="media-body ns-item">
                    <small>Site Visitors</small>
                    <h3>24,456,799</h3>
                </div>
            </div>

            <div class="list-group-item media">
                <div class="pull-right hidden-sm">
                    <div class="sparkline-bar-3"></div>
                </div>

                <div class="media-body ns-item">
                    <small>Total Clicks</small>
                    <h3>13,965</h3>
                </div>
            </div>
        </div>

        <div class="p-5"></div>
    </div>
</div>