{% extends "base.html" %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>New Shop <small>Contact with Arkboss team to create a new shop.</small></h2>
            </div>
        
            <div class="row pricing-table">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="card">
                        <div class="pti-header bgm-amber">
                            <h2>$300 <small>| shop</small></h2>
                            <div class="ptih-title">Single Shop</div>
                        </div>
        
                        <div class="pti-body">
                            <div class="ptib-item">
                                Contact with Arkboss team to create a new shop.
                            </div>
                            <div class="ptib-item">
                                Superuser can access both all of your shops from single place.
                            </div>
                            <div class="ptib-item">
                                Staffs can only access their shops.
                            </div>
                        </div>
        
                        <div class="pti-footer">
                            <a href="" class="bgm-amber"><i class="zmdi zmdi-check"></i></a>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>

    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}