{% extends "base.html" %}
{% load i18n %}


{% load tz %}
{% block content %}
	<section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.product}} - {{instance.qty}}</div>

                <ul class="ah-actions actions a-alt">
                    {% if "is_superuser" or 'can_create_damaged_product' in user_instance.permissionlist %}
                    <li>
                        <a title="Create Return" href="{% url 'sales:create_damaged_product' %}">
                            <i class="zmdi zmdi-plus"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if "is_superuser" or 'can_modify_damaged_product' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit Damaged Product" href="{% url 'sales:edit_damaged_product' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if "is_superuser" or 'can_delete_damaged_product' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Return" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'sales:delete_damaged_product' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>
            {% if instance %}
            <div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Product Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Id</div>
                                    <small class="lgi-text">{{instance.damaged.auto_id}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Product</div>
                                    <small class="lgi-text">{{instance.product}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Qty</div>
                                    <small class="lgi-text">{{instance.qty}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Unit</div>
                                    <small class="lgi-text">{{instance.unit}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">Price</div>
                                    <small class="lgi-text">{{instance.price}}</small>
                                </div>
                            </div>
                            <div class="list-group-item media">
                                <div class="media-body">
                                    <div class="lgi-heading">cost</div>
                                    <small class="lgi-text">{{instance.cost}}</small>
                                </div>
                            </div>                             
                        </div>
                    </div>
                </div>
                {% endif %}          
                {% if direct_added %}
                    <div class="card">
                        <div class="card-header">
                            <h2>Basic Info <small></small></h2>
                        </div>

                        <div class="card-body">
                            <div class="list-group lg-alt c-overflow">
                                <div class="list-group-item media">

                                    <div class="media-body">
                                        <div class="lgi-heading">ID</div>
                                        <small class="lgi-text">{{direct_added.damaged.a_id}}</small>
                                    </div>
                                </div>
                                
                                <div class="list-group-item media">

                                    <div class="media-body">
                                        <div class="lgi-heading">Staff</div>
                                        <small class="lgi-text"><a href="{% url 'staffs:staff' pk=direct_added.damaged.staff.pk %}">{{direct_added.damaged.staff}}</a></small>
                                    </div>
                                </div>
                                
                                <div class="list-group-item media">

                                    <div class="media-body">
                                        <div class="lgi-heading">Time</div>
                                        <small class="lgi-text">{{direct_added.damaged.time}}</small>
                                    </div>
                                </div>
                                
                               
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h2>Created &amp; Updated <small></small></h2>
                        </div>

                        <div class="card-body">
                            <div class="list-group lg-alt c-overflow">
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading">Date Added</div>
                                        <small class="lgi-text">{{direct_added.damaged.date_added}}</small>
                                    </div>
                                </div>
                                
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading">Date Updated</div>
                                        <small class="lgi-text">{{direct_added.damaged.date_updated}}</small>
                                    </div>
                                </div>

                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading">Created User</div>
                                        <small class="lgi-text"><a href="{% url 'users:view' pk=direct_added.damaged.creator.username %}">{{direct_added.damaged.creator.username}}</a></small>
                                    </div>
                                </div>
                                
                                <div class="list-group-item media">
                                    <div class="media-body">
                                        <div class="lgi-heading">Last Updated User</div>
                                        <small class="lgi-text"><a href="{% url 'users:view' pk=direct_added.damaged.updator.username %}">{{direct_added.damaged.updator.username}}</a></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
         
                {% endif %} 
            </div>
        </div>
</section>       
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}