{% extends "base.html" %}
{% load i18n %}

{% block title %} {{title}} {% endblock %}

{% block content %}
{% load users_template_tags %}
<section id="content">
	<section class="head">
		<h2>{{title}}</h2>
	</section>
	<section class="innerBox">
		{% if sale_return_items %}
		<section class="widget one_by_one">
			<h3>Sale Return Items</h3>
			<div class="content formElements seven">
				<table>						
					<tr>
						<th>Product</th>
						<th>Unit</th>
						<th>Quantity</th>
						<th>Cost</th>
						<th>Price</th>
						<th>Is Damaged</th>
						<th>Is Returnable</th>
					</tr>
					{% for item in sale_return_items %}			    
					<tr class="item_set_row">
						<td>
							<span>
								{{ item.product|default:"-" }}
							</span>
						</td>
						<td>
							<span>
								{{ item.unit|default:"-" }}
							</span>
						</td>
						<td>
							<span class="sale_item_qty">
								{{ item.qty|default:"-" }}
							</span>
						</td>
						<td>
							<span class="sale_item_cost">
								{{ item.cost|default:"-" }}
							</span>
						</td>
						<td>
							<span class="sale_item_price">
								{{ item.price|default:"-" }}
							</span>
						</td>
						<td>
							<span>
								{{ item.is_damaged |yesno:"Yes,No"}}
							</span>
						</td>
						<td>
							<span>
								{{ item.is_returnable |yesno:"Yes,No"}}
							</span>
						</td>
					</tr>
					{% endfor %}						
				</table>
			</div>
		</section>
	</section><!--(.innerBox)-->
		{% endif %}
		<br class="clear" />
		
		
		<div id="c-grid" class="clearfix" data-columns="2">
                <div class="card">
                    <div class="card-header">
                        <h2>Basic Info <small></small></h2>
                    </div>

                    <div class="card-body">
                        <div class="list-group lg-alt c-overflow">
                            <div class="list-group-item media">

                                <div class="media-body">
                                    <div class="lgi-heading">Sale ID</div>
                                    <small class="lgi-text">{{instance.sale_id|default:"-"}}</small>
                                    <div class="lgi-heading">Time</div>
                                    <small class="lgi-text">{{instance.time|default:"-"}}</small>
                                    <div class="lgi-heading">Amount Returned</div>
                                    <small class="lgi-text">{{instance.amount_returned|default:"0.00"}}</small>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                </div>
	
		<section class="widget one_by_two right">
			<div class="head">
				<h4>
					<span><small class="icon-eye icon"></small></span>
					<b>Created &amp; Updated</b>
				</h4>							
			</div>
			<div class="content formElements">
				<div class="field">
					<label>Date Added</label>
					<b class="info">{{instance.date_added}}</b>
				</div>
				<div class="field">
					<label>Date Updated</label>
					<b class="info">{{instance.date_updated}}</b>
				</div>
				<div class="field">
					<label>Created User</label>
					<b class="info"><a href="{% url 'users:view' pk=instance.creator.username %}">{{instance.creator.username|get_user_name}}</a></b>
				</div>
				<div class="field mbn">
					<label>Last Updated User</label>
					<b class="info"><a href="{% url 'users:view' pk=instance.updator.username %}">{{instance.updator.username|get_user_name}}</a></b>
				</div>
			</div>
		</section>	
		<br class="clear">
					
					
</section>
{% endblock %}

{% block right_menu %}
	<span id="rightMenuArrow"><small class="icon icon-left-open"></small></span>
	<section id="rightMenuArea" class="full hidden">			
		<section id="rightMenu" class="mainMenu">
			<section id="rightMenuContainer">
				<span class="arrow"><small class="icon icon-left-open"></small></span>
				
				<br class="clear" />
				<div class="menuBox">
					<h4>Action</h4>
					<ul>
						<li><a href="{% url 'products:product_return:edit_sale_return' pk=instance.pk %}"><small class="icon icon-pencil"></small><b>Edit</b></a></li>
						<li>
							<a class="redirect doit with_alert"  href="javascript:void(0)" data-id="{{instance.pk}}" data-url="{% url 'products:product_return:delete_sale_return' pk=instance.pk  %}" data-message="{{confirm_delete_message}}">
								<small class="icon icon-trash"></small>
								<span>Delete</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="menuBox">
					<h4>View</h4>
					{% include 'product_return/includes/view_menu.html' %}
				</div>
				<div class="menuBox">
					<h4>Create</h4>
					{% include 'product_return/includes/create_menu.html' %}
				</div>
			</section>
		</section>
		<br class="clear" />
	</section>
{% endblock %}

{% block static %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){	
			$('.sale_item_formset table tr.form_set_row').formset({
	            prefix: '{{ sale_item_formset.prefix }}',
	            formCssClass: 'dynamic-formset1'
	        });	
		});
	</script>
{% endblock %}